:host {
  display: block;
  max-height: 43px;
}

button {
  background: #c3c3c3;
  padding: 12px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
}

button:active {
  background-color: #D3D3D3;
}
